.base {
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  margin: 2px 1px;
}

.default {
  background-color: #eee;
}

.activated {
  background-color: #39D579;
}

.playing {
  border-color: #cc00ff;
}

.pending {
  background-color: #7fb;
}
